.products-section {
  position: relative;
}

.products-section > h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  top: -17px;
  left: 58px;
  letter-spacing: 3px;
}

@media (min-width: 1920px), (min-height: 1080px) {
  .products-section > h2{
    left: 110px;
  }
}